@if (getDeveloperWorkExperiencesResource.hasValue() &&
workExperienceCategories().length > 0) {
<!-- -->
<mat-accordion class="work-experience-section" multi>
  <h2 class="work-experience-section__title">
    <mat-icon
      aria-hidden="false"
      [ariaLabel]="'main.work-experience.aria.title' | translate"
      fontIcon="work"
    ></mat-icon>
    <span class="work-experience-title-section">{{
      "main.work-experience.title" | translate
    }}</span>
  </h2>

  @for (categoryKey of workExperienceCategories(); track categoryKey) {
  <!-- -->
  <article class="categories-article">
    <mat-expansion-panel #expansionPanels class="work-experience-category">
      <mat-expansion-panel-header>
        <h3 class="work-experience-category__title">
          <mat-icon
            aria-hidden="false"
            [ariaLabel]="getCategory(categoryKey).sectionAriaTitle"
            [fontIcon]="getCategory(categoryKey).sectionIcon"
          ></mat-icon>
          <span class="work-experience-category-section-title">{{
            getCategory(categoryKey).sectionTitle
          }}</span>
        </h3>
      </mat-expansion-panel-header>
      <ul class="category-work-experiences">
        @for (workExperience of getCategory(categoryKey).workExperiences; track
        $index) {
        <li>
          <app-work-experience-item
            [workExperience]="workExperience"
          ></app-work-experience-item>
        </li>
        }
      </ul>
    </mat-expansion-panel>
    <!-- -->
  </article>
  }
</mat-accordion>
<!-- -->
}
