@use "styles/mixins" as *;
@use "styles/variables" as *;

.work-experience-section {
  margin-top: 1rem;
  &__title {
    @include header2;
    margin: 0;
  }
}

.categories-article {
  margin-block: 1rem;
}

.work-experience-category {
  &__title {
    @include header3;
    margin: 0;
  }
}

.category-work-experiences {
  margin-top: 0;
  padding: 0.8rem 1rem;
  border-top: 3px solid $header-color;
}
