<header class="header">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in
  consequatur sint ratione a. Veniam doloribus sequi, dolor rerum fugit, fugiat
  quibusdam dolorum facere omnis quaerat consequuntur illo facilis reiciendis
  perspiciatis illum deserunt iusto! Dolor quaerat est voluptatem aliquid
  obcaecati dolorum excepturi omnis, recusandae minus voluptatibus temporibus
  dolore corporis voluptas cumque, libero, assumenda ab porro vel laudantium
  enim dicta vitae nobis reprehenderit? Modi, odit! Animi culpa perferendis
</header>
