.main-container {
  height: 100vh;

  display: grid;
  grid-template-areas:
    "headerarea"
    "aside"
    "main"
    "footer";

  grid-template-columns: 1fr;

  &__header-container {
    grid-area: headerarea;
  }

  &__aside-container {
    grid-area: aside;
  }

  &__main-container {
    grid-area: main;
  }

  &__footer-container {
    grid-area: footer;
  }
}

@media (min-width: 600px) {
  /* sm */
  .main-container {
    grid-template-areas:
      "headerarea headerarea"
      "aside main"
      "footer footer";

    grid-template-columns: fit-content auto;
  }
}

@media (min-width: 960px) {
  /* md */
  .main-container {
    grid-template-areas:
      "headerarea headerarea"
      "aside main "
      "footer footer";

    grid-template-columns: 1fr 3fr;
  }
}
