.main-container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "headerarea"
    "aside"
    "main"
    "footer";
  grid-template-columns: 1fr;

  &__header-container {
    grid-area: headerarea;
  }

  &__aside-container {
    grid-area: aside;
  }

  &__main-container {
    grid-area: main;
  }

  &__footer-container {
    grid-area: footer;
  }
}

@media (min-width: 600px) {
  /* sm */
  .main-container {
    grid-template-areas:
      "headerarea headerarea headerarea headerarea"
      "aside main main main"
      "footer footer footer footer";

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
