<div class="main-container animate__animated animate__fadeIn">
  @if (identificationData()) {
  <app-header
    [identificationResponse]="identificationData()!"
    class="main-container__header-container"
  />
  }

  <!-- -->
  @if(identificationData()) {
  <app-aside
    [identificationResponse]="identificationData()!"
    class="main-container__aside-container"
  />
  }

  <app-main [lang]="currentLang()" class="main-container__main-container" />

  <!-- -->
  @if(identificationData()) {
  <app-footer
    [identificationResponse]="identificationData()!"
    class="main-container__footer-container"
  />
  }
</div>
