<section class="habilities">
  <h2 class="habilities__title">
    <mat-icon
      aria-hidden="false"
      [ariaLabel]="'main.habilities.aria.title' | translate"
      fontIcon="tips_and_updates"
    ></mat-icon>
    {{ "main.habilities.title" | translate }}
  </h2>
  <ul class="habilities-list">
    @if (habilitiesResource.hasValue()) {
    <!-- -->
    @for (hability of habilities(); track hability) {
    <!-- -->
    <li [innerHTML]="hability"></li>
    <!-- -->
    }
    <!-- -->
    }
  </ul>
</section>
