@use "styles/mixins" as *;

.networks-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin: 0;
  @include boxShadowEffect(grey, 3px);
}

.networks-list-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.network-item-anchor {
  &__image {
    width: 3rem;
    height: auto;
  }

  &__label {
    /* Irrelevant in HMTL but required for SEO */
    @include visually-hidden;
  }
}
