@if (trainingResouce.hasValue() && trainingResouce.value().trainings) {
<section class="training">
  <h2 class="training__title">
    <mat-icon
      aria-hidden="false"
      [ariaLabel]="'main.training.aria.title' | translate"
      fontIcon="school"
    ></mat-icon>
    <span class="training-section-title">{{
      "main.training.title" | translate
    }}</span>
  </h2>
  <ul class="training-list">
    @for (training of trainingResouce.value().trainings; track training) {
    <li [innerHTML]="training"></li>
    }
  </ul>
</section>
}
