@use "styles/variables" as *;
@use "styles/mixins" as *;

.aside {
  @include page-general($aside-color, white);
  display: flex;
  flex-direction: column;

  &__candidate-photo {
    width: 10rem;
    align-self: center;
  }

  &__title {
    /* Irrelevant in HTML but required for SEO */
    @include visually-hidden;
  }
}

.contact-info {
  list-style: square;
  margin: 0 auto;

  &__item {
    font-size: 1.2rem;
    margin-block: 0.5rem;

    strong {
      display: block;
    }
  }
}
