@use "styles/variables" as *;
@use "styles/mixins" as *;

.aside {
  position: relative;
  @include page-general($aside-color, white);
  padding-inline: 1.2rem;
  border-right: 2px solid lightgrey;

  &__candidate-photo {
    width: 10rem;
    @include boxShadowEffect(grey, 3px);
  }

  &__title {
    /* Irrelevant in HTML but required for SEO */
    @include visually-hidden;
  }
}

.photo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aside-wrapper {
  margin: auto;
}

@media (min-width: 600px) {
  /* sm */
  .aside-wrapper {
    position: sticky;
    top: 1rem;
  }
}

.contact-info-container {
  margin: 1.3rem auto;
}

.contact-info {
  list-style: square;
}

.contact-info-item {
  font-size: 1.2rem;
  margin-block: 0.5rem;

  strong {
    display: block;
  }

  &__label {
    display: flex;
    gap: 0.3rem;
  }
}
