<aside class="aside">
  <img
    class="aside__candidate-photo"
    loading="lazy"
    width="160"
    height="235"
    [src]="photoUrl()"
    [alt]="'aside.alt.candidate' | translate"
  />

  <h2 class="aside__title">{{ "aside.title" | translate }}</h2>
  <ul class="contact-info">
    <li class="contact-info__item">
      <strong>{{ "aside.email" | translate }}</strong>
      <a [href]="`mailto:${identificationResponse().email}`">{{
        identificationResponse().email
      }}</a>
    </li>

    <li class="contact-info__item">
      <strong>{{ "aside.phone" | translate }}</strong>
      {{ identificationResponse().phone }}
    </li>

    <li class="contact-info__item">
      <strong>{{ "aside.city" | translate }}</strong>
      {{ identificationResponse().provinceCountry }}
    </li>
  </ul>
</aside>
