@use "styles/variables" as *;
@use "styles/mixins" as *;

.aside-wrap {
  position: relative;
  padding-bottom: 1rem;
  @include page-general($aside-color, white);
}

.aside {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    /* Irrelevant in HTML but required for SEO */
    @include visually-hidden;
  }

  &__candidate-photo {
    width: 10rem;
    @include boxShadowEffect(grey, 3px);
  }
}

@media (min-width: 600px) {
  /* sm */
  .aside {
    position: sticky;
    padding-top: 0;
    top: 1rem;
  }
}

.contact-info {
  list-style: square;

  .contact-info-item {
    font-size: 1.2rem;

    strong {
      display: block;
    }

    &__label {
      display: flex;
      gap: 0.3rem;
    }
  }
}

app-networks {
  width: 100%;
}
