@use "styles/mixins" as *;
@use "styles/variables" as *;

.work-experience-item {
  &__title {
    @include header4;
    margin-bottom: 0;
  }
}

.work-experience-item-dates {
  background-color: $header-color !important;

  span {
    @include header4;
    color: white !important;
  }
}

.work-experience-item-company {
  padding-bottom: 0.1rem;
}

@media (min-width: 600px) {
  /* sm */
  .work-experience-item-company {
    border-bottom: 2px solid $header-color;
    margin-top: 0.75rem;
  }
}
