@use "styles/mixins" as *;
@use "styles/variables" as *;

.footer {
  @include page-general($footer-color, white);
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid lightgrey;
}

.footer-content {
  &__title {
    /* Irrelevant in HTML but required for SEO */
    @include visually-hidden;
  }

  &__copyright {
    font-weight: 500;
  }
}

.footer-link {
  padding-top: 0.5rem;
}
